.console {
  color: #000;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Consolas', 'Menlo', 'Courier new';
}

.console > div {
  padding: 4px 8px 4px 0;
  border-top: 1px solid #CFD6D9;
}

.console > div:before {
  content: '\25B8';
  color: #CCC;
  padding-right: 8px;
}

.console > .arrow {
  padding-right: 4px;
}

.console > div:last-child {
  border-bottom: 1px solid #CFD6D9;
}

.console .string {
  color: #000;
}

.console .string > .value {
  color: #249D7F;
}

.console .number {
  color: #ED5C65;
}

.console .function > .keyword {
  color: #A151D2;
}

.console .function > .name {
  color: #000;
}

.console .object > .key {
  color: #000;
}

.console .object > .constructor {
  color: #F1A244;
}

.console .undefined {
  color: #3424A0;
}

.console .null {
  color: #3424A0;
}

.console .boolean {
  color: #3424A0;
}

.console .html > .tag {
  color: #2795ee;
}

.console .html > .key {
  color: #F1A244;
}

.console .empty {
  white-space: pre-wrap;
}

.console .warn {}

.console .info {}

.console .debug {}

.console .break {}
